@import "tailwindcss";

/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

:root {
  --background: #dfdfdf;
  --theme: #ededed;
  --foreground: #3b3b3b;
  --primary: rgb(125, 92, 226);
  --secondry: #cdc4fd73;
  --modal: rgb(222, 222, 222);
  --font-inter: var(--font-inter)
}

:root.dark {
  --background: #292929;
  --foreground: #e1e1e1;
  --secondry: #1e1e1ed4;
  --modal:rgba(23, 23, 23, 0.805);
  --theme: #343434;
  
}

/* :root.dark {
  --background: #eaeaea;
  --foreground: #3b3b3b;
  --primary: #7d5ce2;
  --secondry: #ddd6ff73;
  --font-inter: var(--font-inter)
} */


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondry: var(--secondry);
  --color-modal: var(--modal);
  --color-theme: var(--theme);

  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-sans: var(--font-intr);
  --font-brand: var(--font-poppins);

}

/* @media (prefers-color-scheme: dark) {
  :root {
  --background: #292929;
  --foreground: #e1e1e1;
  --secondry: #4f4f4fd1;
  }
} */

body {
  background: var(--theme);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif
}

@media (max-width: 640px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 640px) and (max-width: 1024px){
  html{
    font-size: 13px;
  }
}

/* @media (min-width: 2560px) {
  html {
    font-size: 30px;
  }
} */
